
 <div id="demoCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demoCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#demoCarousel" data-slide-to="1"></li>
    <li data-target="#demoCarousel" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="background-div">
        <h1>DEMO APP</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">HOME</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">ABOUT US <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">JOBS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CLIENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">EMPLOYEES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
              </li>
            </ul>
          </div>
        </nav>
        <br><br><br><br><br><br>

        <h1 class="h"><i>I'M LOOKING FOR..</i></h1><br><br>
        <input class="place" type="text" placeholder="Enter a Job Description">
        <button id="search" class="s">Search</button><br><br>

        <input type="checkbox" id="fullTimeCheckbox" name="fullTimeCheckbox" value="fullTime">
        <label for="fullTimeCheckbox">Full Time</label>
        <input type="checkbox" id="partTimeCheckbox" name="partTimeCheckbox" value="partTime">
        <label for="partTimeCheckbox">Part Time/Casual/FreeLance</label>

        <label class="label" for="location">Choose a location:</label>
        <select id="location" name="location">
          <option value="Pune">Pune</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Nashik">Nashik</option>
          <option value="London">London</option>
          <option value="Germany">Germany</option>
        </select><br><br>

        <button class="register"><a href="/registration">Register</a></button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="background-2">
          we are leader in 
        <!-- Second slide content goes here -->
        <h1>Slide 2</h1>
      </div>
    </div>
    <div class="carousel-item">
      <div class="background-3">
        <!-- Third slide content goes here -->
        <h1>Slide 3</h1>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demoCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demoCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div><br><br>

<div>
  <i class="i">We are Leaders in</i>
  <h3 class="c">Creative Digital Recruitment</h3>
</div>

